/*
* @Author: ASUS飞行堡垒
* @Date:   2019-12-05 23:29:40
* @Last Modified by:   ASUS飞行堡垒
* @Last Modified time: 2019-12-05 23:31:35
*/
/* 下拉布局 */
	    	.dropbtn:hover
		    {
		        display:inline-block;
		        color:white;
		        text-align:center;
		        /* padding:14px 16px; */
		        text-decoration:none;
		    }
	    	 .dropdown
		    {
		        display:inline-block;
		    }

		    .dropdown-content
		    {
		        display:none;
		        position:absolute;
		        background-color:#f9f9f9;
		        min-width:160px;
		        margin-top:5px;
		        z-index:50;
		        box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
		    }

		    .dropdown-content a
		    {
		        color:black;
		        padding:12px 16px;
		        text-decoration:none;
		        display:block;
		    }

		    .dropdown-content a:hover {background-color: #f1f1f1}

		    .dropdown:hover .dropdown-content
		    {
		        display:block;
		    }